@model _41MY_MVCWebSiteCV.Models.Entity.Tbl_Users
@{
    ViewBag.Title = "GetUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kullanıcı Güncelleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })    
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>

