@model _41MY_MVCWebSiteCV.Models.Entity.Tbl_Experiences
@{
    ViewBag.Title = "GetExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Deneyim Güncelleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly"})
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.SubHeading, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = "5" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control"})
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>

